.cover {  
    position: relative;  
    width: 100vw;
    height: 100vh;
    overflow: hidden;          
}

.tcont{
    position: relative;
    width: 80%;
    margin: auto;    
    margin-top: 2rem;
    background-color: white;
    overflow: hidden;
    animation: scroll .5s .2s backwards ;     
}

.cover__t1 {   
    font-size: 1.4rem;    
    text-align: left;
    padding: 1.2rem;   
    padding-bottom: .1rem; 
    margin: 0;       
}

.cover__t2 {      
    display: flex;    
    font-size: 1rem;
    padding: 1rem;
    position: relative; 
    width: 100%;   
    animation: scroll .5s .4s backwards;    
}

@keyframes scroll {
    0%{left:100vw;}
    100%{left: 0;}
}

.cover__logo{
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    
    .logo {
        color: white;
        font-size: 2rem;
        font-weight: bold;
        text-shadow: .2rem .2rem .2rem black;
                
    }
}

.cover__bg {        
    position: fixed;    
    opacity: 1;
    z-index: -1;
}

.cover__bg img {    
    height: 100vh;
    position: relative;
    
}

// _________ARTICLE_______________________

.article {
    background-color: white;
    position: relative;
    
    a { 
            color: green;
        }

    .article__fecha {
        font-size: 1rem;
        padding-left: 1rem;
        padding-top: 1rem;
    }

    .article__paragraph {
        width: 90vw;    
        margin: auto;
        margin-top: 1.5rem ;
        margin-bottom: 1.5rem ;
        font-size: 1.5rem;
    
        
    }

    img {
        width: 100vw;     
    }

    .img-pie__txt{    
        font-size: .7rem;
        font-style: italic;    
        margin: .2rem;  
        margin-right: .5rem;      
        text-align: right;
    }  
}


.article__list{
    width: 90vw;    
    margin: auto;
    font-size: 1.5rem;

    .pelis, .academicas, .pelis__competencia, .pelis_retrospectivas{
       margin-bottom: 2rem;
        text-align: center;
    }
    
    

    li{
        margin-left: 2rem;
        text-align: left;
    }
        

    
}

