*{
    font-family:Helvetica, arial, sans-serif;
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}

header {   
    display:flex;
    justify-content: center;
    align-items: center;
    height: 10vh;     
    width: 100%;  
    background-color: black;                 
    a{
         color: white;
    }
}

.ftr{      
    position: fixed;      
}

.ftr__back{
    position: absolute;
    width: 200px;
    height: 200px;
    background-color: black;    
    bottom: -100px;
    left: -100px;
    transform: rotate(45deg);
}

.ftr__flecha {
    position: absolute;
    font-size: 4em;
    font-style: bold;              
    color: white;
    bottom: 130px;
    left: 70px;
    transform: rotate(-45deg);   
}

.mainMenu-BG {
    height: 80vh;
    img {
        height: 100%;
    }
}