

.main-menu{
    position: relative;
    height: 90vh;
    overflow: hidden;
}

.main-menu__list {                   
    position: relative;
        a{    
        width: 100vw;  
        height: 10vh;      
        display: flex;
        text-align: center;
        justify-content: center;
        align-items: center;        
        font-size: 1.5rem;            
        border:  .5px solid black;
        box-sizing: border-box;         
        color: black;                   
        padding: 2rem;           
        }    
}

.main-menu__list_blk {
    background-color: black;
}

.mmBG{
   height: 60vh;
   img{
       height: 100%;
   }
    
}



