.main-menu{
    position: relative;
    height: 90vh;
    overflow: hidden;
}

.main-menu__list {                   
    position: absolute;
    width: 100vw;
    list-style: none;
        a{              
        height: 10vh;      
        display: flex;
        text-align: center;
        justify-content: center;
        align-items: center;        
        font-size: 1.5rem;            
        border:  .5px solid black;
        box-sizing: border-box;         
        color: black;   
        background-color: white;                
        padding: 2rem;           
        }    
}


.mmBG{
   height: 100vh;
   position: absolute;
   z-index: -1;
   
   img{
       min-width: 481px;
       object-fit: cover;
       width: 100vw;
       height: 100%;
   }
    
}



