.menu {
    width: 90vw;
    margin: auto;
    margin-top: 1em;
    /* display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 1em; */
}

.menu li{
    font-size: 1.5em;
    margin-top: 1em;
    list-style: none;
    border: solid black;
    border-radius: 2px;
}