
body{
    scroll-snap-type: y mandatory;
}
.menu {    
    scroll-snap-align: start;
    width: 100vw;
    margin: auto;
    box-sizing: border-box;
        li{
            
        display: flex;
        justify-content: center;
        align-items: center;        
        height: 5rem;
        font-size: 1.5em;    
        list-style: none;
        border:  solid black;
        border-width: 1px;
        
            
            a{
                color: black;        
                font-size: 1rem;        
            }        
        }    
}

