@media only screen and (min-width: 514px) {
   
   *{
       width: 70vw;
       margin: auto;
   }

   .rndm__img img{
       width: 20vw;
   }
   
//     #imgWrap{
//         width: 60%;       
//     }

//     #divImage{
//         width: 50vw;
//     }  
}