/* RDS_galeria */

.insta-feik{
    position: relative;
}

.rds-perfil{
    display: grid;  
    grid-template-columns: .5fr 1fr;  
      
}

.rds-instaPic img{    
    object-fit: cover;
    padding: 1em;
    width: 100%;
    border-radius: 50%;
    margin: auto;    
    animation: galeria  .5s ease  backwards; 
}
.rds-titulo h2{    
    padding-top: 2em;
    font-size: 1.5em;
    margin-right: 1em;   
}

.rds-descripcion{
    width: 50%;
    margin-left: 1em;
    margin-bottom: 1em;
}

.rds-nav {
    width: 80%;
    display: grid;
    grid-template-columns: .4fr .2fr .4fr;
    margin: auto;    
    margin-bottom: 2em;
    a{
        color: black;
        text-align: center;
    }
   
}


.galeria{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: .3em;
    animation: galeria .5s ease  backwards;        
}

a .regresar{
    text-align: center;
    font-style: bold;
    text-decoration: none;
    color: black; 
}

.rds-nav a{
    border: solid black .1em;
    padding: .5em;          
}

.galeria img{
    height: auto;
    width: 100%;    
}