/* RDS_galeria */

.insta-feik{
    position: relative;
}

.rds-perfil{
    display: grid;  
    grid-template-columns: .5fr 1fr;        
}

.rds-instaPic img{    
    object-fit: cover;
    padding: 1em;
    width: 100%;
    border-radius: 50%;
    margin: auto;    
    animation: galeria  .5s ease  backwards; 
}

.rds-titulo h2{    
    padding-top: 2em;
    font-size: 1.5em;
    margin-right: 1em;   
}

.rds-descripcion{
    width: 50%;
    margin-left: 1em;
    margin-bottom: 1em;
}

.rds-nav {
    width: 80%;
    display: grid;
    grid-template-columns: .4fr .2fr .4fr;
    margin: auto;    
    margin-bottom: 2em;
    a{
        color: black;
        text-align: center;
    }   
}

.galeria{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: .3em;
    animation: galeria .5s ease  backwards;        
}

a .regresar{
    text-align: center;
    font-style: bold;
    text-decoration: none;
    color: black; 
}

.rds-nav a{
    border: solid black .1em;
    padding: .5em;          
}

.galeria img{
    height: auto;
    width: 100%;    
}

/* residuos_residuos_residuos_residuos_ */

#RDimg img{
    width: 100%;
    margin-bottom: 2em;
    animation: galeria .5s linear backwards; 
}

#RDtxt{    
    font-size: 1.5em;
    width: 90%;
    margin: auto;
    margin-bottom: 2em;   
    animation: RDtxt .5s ease-out backwards;    
}

#RDtxt h1{
    margin-bottom: 1em;            
}

#RDtxt p{
    margin-top: 1em;  
    margin-bottom: 1em;  
}

#RDtxt h2{
    margin-top: 2em;
    margin-bottom: 1em;
    text-align: center;
}

#RDtxt ol { 
    margin: auto;    
    padding: 2em;
    width:100%;   
}

#RDtxt li{
    margin-bottom: 2em;   
    font-size: 1em;    
}

#autor{
    margin-top: 2em;
    margin-bottom: 2em;
    text-align: right;  
    width:100%;        
}

#autor a{        
    font-style: bold;
    font-size: 1rem;    
    color: white; 
    border: solid black 1px;
    background-color: black;  
    padding: .5rem; 
}

#RDimgXtra img{
    width: 100%;
    margin-bottom: 0;
}

#pieDfoto {
    margin: 0;
    font-size: .7em;
    text-align: center;
}

.RDpar{
    margin-top: 0;
    font-size: 1.5rem;
    font-style: bold;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;    
}

.ft-rds{    
    width: 20vw;
    margin: auto;
    margin-bottom: 2rem;
    a{
        font-size: 4rem;
        color: black;         
    }
}

/* --PARTICIPA__PARTICIPA--PARTICIPA__PARTICIPA--PARTICIPA__PARTICIPA*/

.formCont  {
    position: relative;
    margin: auto;
    width: 90%;
    text-align: center;

    .pasoUno  {
        height: 90vh;
        padding-top: 30vh;
        display: inline-block;
        button{
            padding: 1rem;
            font-size: 1rem;
        }
    }

    .formRDS {
        padding-top: 5vh;
        height: 100vh;
        #texto {
            box-sizing: content-box;
            height: 15vh;
            width: 90vw;
            resize: none;
            margin-top: 1rem;
            margin-bottom: 1rem;
        }
    }

    input, label, #buscar {
        text-align: center;
        font-size: 1.5rem;
        margin-top: .5rem;
        margin-bottom: .5rem;
        width: 90vw;
        padding: .5rem;        
    }
}