
.cont-rndm{
    position: relative;  
    height: 100vh;  
}

.rndm{
    width: 100vw;
    position: absolute;    
    z-index: 1;
}

.rndm__img {   
    position: relative; 
    height: 70vh;
    display: flex;
    justify-content: center; 
    align-items: center;        
}

#divImage{          
    width: 90vw;    
    border-radius: 5%;
    animation: slideIn .5s;  
    
    @keyframes slideIn {
        0% {opacity: 0;}    
        100% {opacity: 1;}
        0% {transform: translateY(10px);}
        100%{transform: translateY(0);}
    }   
}


.rndm__desc {
    background-color: white;
    font-size: 1.2em;
    text-align: justify;
    width: 90%;
    margin: auto;
    margin-top: 1em;
    padding: 1rem;
    border-radius: 5%;    
}

.rndm__btn{    
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    display: grid;
    width: 50%;
    margin: auto;
    font-size: 2rem;
    padding: .2em;     
    margin-top: 5%;
    border-radius: 5%;
    border: none;
}

.rndm-bg{
    position: absolute;    
    height: 100vh;
    width: 100vw;  
    align-items: center;      
}


.rndm-bg_tierra1 {
    width: 100%;
    z-index: -2;     
    object-fit: cover;           
}