#imgWrap {    
    height: 70vh;
    display: flex;
    justify-content: center; 
    align-items: center;    
}

#divImage{   
       
    width: 90vw;
    margin: auto;
    animation: divImage .5s;
    border-radius: 5%;
    
}


.rndm-desc{
    background-color: white;
    font-size: 1.2em;
    text-align: justify;
    width: 90%;
    margin: auto;
    margin-top: 1em;
    padding: 1rem;
    border-radius: 5%;
    
}

.btn-rndm{    
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    display: grid;
    width: 50%;
    margin: auto;
    font-size: 2rem;
    padding: .2em;     
    margin-top: 5%;
    border-radius: 5%;
    border: none;
}