.video-cont {
    height: ;
}

.videoWrapper {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    // transform: rotate(90deg);
}

.videoWrapper iframe {
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}