
@import "./general";
@import "./home";
@import "./rndmMOMO";

@import "./rdsGallery";
@import "./residuos";
@import "./videos";
@import "./blog";

@import "./animaciones";
@import "./mediaQueries";

